@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Space";
    src: url("../assets/font/space.ttf") format("woff2");
}
@font-face {
    font-family: "Sphere";
    src: url("../assets/font/sphere.otf") format("woff2");
}
@font-face {
    font-family: "Conthrax";
    src: url("../assets/font/conthrax.otf") format("woff2");
}
@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-slowspin {
    animation: spin 10000ms linear infinite;
}

.fade-bottom {
    animation: fadeInBottom 800ms ease-in;
}
.fade-top {
    animation: fadeInTop 800ms ease-in;
}
.fade-right {
    animation: fadeInRight 800ms ease-in;
}
.fade-left {
    animation: fadeInLeft 800ms ease-in;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, #389cff, #f34aff);
}
